// Custom bootstrap variables go here

//@use 'bootstrap';
@use 'reset';

/* ALL */
.hidden {
  display: none;
}

/* HOME */
.nav-buttons {
  display: flex;
  gap: 10px; /* Add spacing between the buttons */
  align-items: center; /* Vertically align items in the container */
}

